# ===== LLM =====
LLM_API_KEY=sk-07403fee63abe520e9d3bb1e5a8444f4825b6cd05b24b022
LLM_BASE_URL=https://api2.65535.space/v1
LLM_MODEL=gpt-5.5

# ===== IMAGE =====
# 可继续使用你之前测试成功的 OpenAI-compatible 图片中转接口
IMAGE_API_KEY=sk-c32e3985852ba5b442d26a92afc1a3b876f883436db9803a
IMAGE_BASE_URL=https://sub-proxy-us.65535.space/v1
IMAGE_MODEL=gpt-image-2.5
IMAGE_SIZE=1024x1536

# ===== APP =====
DATABASE_URL=sqlite:///./aigc_mft.db
